<launch>
    <!-- Subscribed topics -->
    <param name="LiDAR_pointcloud_topic" type="string" value= "/laser_cloud_flat" />
    <param name="IMU_topic" type="string" value= "/ins550d/imu/data" />
    <param name="Image_topic" type="string" value= "/camera/image_color" />   <!-- /camera/image_color   /gmsl_cam/image_raw -->
    <param name="lvi_fusion_common/map_output_dir" type="string" value="$(env HOME)/lvi_fusion_output" />
    <rosparam command="load" file="$(find lvi_fusion)/../config/lvi_fusion_config_ourcar.yaml" />

    <node pkg="lvi_fusion" type="lvi_fusion_LiDAR_front_end" name="lvi_fusion_LiDAR_front_end"  output="screen" required="true"/>
    <node pkg="lvi_fusion" type="lvi_fusion_mapping" name="lvi_fusion_mapping" output="screen" required="true" launch-prefix="xterm -e gdb -ex run --args"/>
    <param name="save_directory" type="string" value="$(env HOME)/lvi_fusion-commmet/data/"/>  <!-- CHANGE THIS and end with / -->
    <node pkg="lvi_fusion" type="map_build" name="map_build" output="screen" required="true"/>
    
    <arg name="rviz" default="1" />
    <group if="$(arg rviz)">
        <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find lvi_fusion)/../config/rviz/lvi_fusion_rviz_config.rviz" />
    </group>
</launch>
