<launch>

    <arg name="project" default="lvi_fusion"/>

    <rosparam command="load" file="$(find lvi_fusion)/../config/gps.yaml" />
    
    <!-- EKF GPS-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_gps" respawn="true">
        <remap from="odometry/filtered" to="odometry/navsat" />
    </node>

    <!-- Navsat -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat" respawn="true">
        <rosparam param="datum">[34.148572461, 108.585669446, 415.95, world, base_link]</rosparam>
        <remap from="imu/data" to="imu/data" />
        <remap from="gps/fix" to="gps/fix" />
        <remap from="odometry/filtered" to="odometry/navsat" />
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_link_broadcaster" args="0 0 0 1.5707963 0 0 base_link imu_link" respawn="true"/>



</launch>